/*jquery-searchable-dropdown container*/
.custom-select {
    border: 1px solid #ced4da;
}

    .custom-select, .custom-select > div {
        border-radius: 0.25rem;
    }

        .custom-select:focus {
            border-color: #86b7fe;
            background: #ced4da;
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }

        .custom-select > div {
            padding: 0.6rem 0;
            background: #ced4da;
            border: 1px solid #7e8082;
        }

        .custom-select input {
            border: 1px solid rgb(13 110 253 / 25%);
            box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
        }
