@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Pamiršai slaptažodį?";
}

@if (TempData["danger"] != null)
{
    <div class="alert alert-danger mt-4" role="alert">
        @Html.Raw(TempData["danger"].ToString())
    </div>
}

<h1>@ViewData["Title"]</h1>
<h2>Įveskite el. paštą.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" style="border-bottom:1px solid #E1E1E1;" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label">El. paštas</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Atstatyti slaptažodį</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
